@{
    ViewData["Title"] = "Home Page";
}

<div style="padding-top: 200px" class="container">
    <h1 style="text-align: center">¡A PONERSE EN ACCIÓN!</h1>
    <h3 style="text-align: center; font-family: 'Courier New'; padding-top: 100px">Bienvenido a RedAction, la plataforma ideal para la creación, edición y publicación de artículos periodísticos para tu portal de noticias.</h3>
</div>

