@{
    ViewData["Title"] = "Error";
}

<div style="padding: 150px; font-family: 'Courier New'" class="container">
    <h1 style="text-align: center; font-size: 100px">@ViewData["Title"]</h1>

    <p style="text-align: center; padding-top: 100px; font-size: 50px">Lo sentimos, ha ocurrido un error...</p>
</div>